#square {
    margin: 3px;
    display: none;
    position: absolute;
    border: 1px solid;
}
#container {
    width: 400px;
    height: 400px;
    position: relative;
    background: SlateGrey;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#buttonContainer
{
    text-align: center;
    margin-top: 20px;
}